#buttons1 {
  display: none;
}
#buttons2 {
  display: none;
}

body {
  background: radial-gradient(#ff0000, #ffffff, #000066);
  height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.intro {
  text-align: center;
  margin-top: 50px;
  background-color: #660000;
  border: 3px solid #ff9900;
  color: #ffff00;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  padding-bottom: 10px;
  border-radius: 20px;
}

.intro button {
  background-color: #000000;
}

.flexbox-container {
  display: flex;
}

.flexbox-item-1 {
  text-align: center;
  height: 300px;
  width: 20%;
  border: 3px solid #ff9900;
  padding: 4px;
  color: #ffff00;
  background-color: #660000;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20%;
  justify-content: center;
  border-radius: 20px;
}
.flexbox-item-1 button {
  color: #ffff00;
  background-color: #000000;
}

.rolls {
  text-align: center;
  background-color: #d4d3d2;
  border: 8px solid #f2be13;
  height: 300px;
  width: 200px;
  align-items: center;
  margin-left: 220px;
  margin-right: 250px;
  border: 3px solid #ff9900;
  padding: 4px;
  color: #ffff00;
  background-color: #494741;
}

.newGame {
  display: flex;
  align-items: center;
  justify-content: center;
}
